// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/about/about";

@import "../pages/profile/profile";

@import "../pages/home/home";

@import "../pages/tabs/tabs";

@import "../pages/login/login";

ion-menu {
	ion-label {
		color: #555;
		margin-left: 10px;
	}

	ion-list {
		button.item {
			padding-left: 0px;
		}
	}

	.header {
		
	}
}
